#img{
    background :url("1017479.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#img:hover{
    background :url("1017479red.png");
    background-size: contain;
    background-repeat: no-repeat;
}